html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%; /* Extend container to full height of the page */
}

.column {
    flex: 1;
    background-color: #f0f0f0;
    border: 0.1vw solid #ccc;
    padding: 0.1vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   
}



.expanded {
    flex: 1000; /* Expanded column takes more space */
}

h1, h2 {
    font-size: 5vw;
    text-align: center;
}

.column-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    display: flex;
    align-items: flex-start; /* Align title to the start of its container vertically */
    justify-content: center; /* Center horizontally */
    margin-bottom: 0.1vw; /* Add some bottom margin */
    /*************************************************weird************/
    white-space: nowrap; /* Ensure the title remains on a single line */
}

/* Change the font size of the title to 2vw when compressed */
.column.compressed .column-title {
    font-size: 2vw;
}

.content {
    display: flex; /* Use flexbox for content layout */
}

.images {
    flex: 1; /* Make the image span the whole compressed column */
    display: flex; /* Use flexbox for image layout */
    flex-direction: column; /* Arrange images in a column */
    align-items: center; /* Center images vertically */
    position: relative; /* Position images relative to the container */
}

.images img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 140px; /* Adjust this value according to the height of your title */
}

/* Adjust the position of images in the second column */
.column:nth-child(2) .images img {
    top: 0vw; /* Adjust this value as needed */
}

/* Adjust the position of images in other columns */
.column .images img {
    top: 3.4vw; /* Adjust this value as needed */
}

/* Set the top value of images in the second column to 0 when expanded */
.column.expanded:nth-child(2) .images img {
    top: 0;
}

/* Set the top value of images in other columns to 0 when expanded */
.column.expanded .images img {
    top: 0;
}

/* Set the height of images to 0 when the column is compressed */
.column.compressed .images img {
    height: 0;
    visibility: hidden;
}

.text {
    flex: 1; /* Fill remaining space */
    display: none; /* Hide the text by default */
    font-size: 1.5vw;
}

.compressed .text {
    display: none; /* Show the text when the column is compressed */
}

.expanded .text {
    display: block; /* Show the text when the column is expanded */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
