.slideshow {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 2000px; /* Set a minimum height of 1000 pixels */
}

.slide {
    display: none;
}

.image-column {
    display: flex;
    flex-direction: column;
}

.image-column img {
    width: 70%; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Adjust vertical spacing between images */
}

.text, h1, h2 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 20vw; /* Set width to 20% of the viewport width */
    left: 72%; /* Same left position as text */
}

h1 {
    top: 0px; /* Adjust top position of h1 */
    font-size: 2vw;
}

h2 {
    top: 5vw;
    font-size: 1.5vw; /* Adjust top position of h2 to appear below h1 */
}

.text {
    position: absolute;
    top: 8vw;
    font-size: 1vw;
}
